$font-family-base: Roboto, sans-serif;
$font-size-base: 1rem;
$font-weight-base: 300;
$font-weight-bold: 700;

$color-text: #4A4A4A;
$color-text-light: #C0C0C0;
$color-text-footer: #fff;

$color_background: #fff;
$color-background-pre-footer: #F6F6F6;
$color-background-footer: $color-text;

$color-brand: #68CD8D;

$color-border: #C0C0C0;
$color-border-light: lighten(#C0C0C0, 15%);

$color-button-background: $color-brand;
$color-button-text: #fff;

$spacer: 3rem;
